/* Part I */

body {
    font-family: 'Encode Sans Condensed', sans-serif;
    margin: O;
}

header {
    background-color: #333333;
}

.Nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;

}

.menuBouton {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
}

.menuBouton a {
    text-decoration: none;
    color: white;
}

.menuBouton ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.menuBouton li {
    color: white;
    text-decoration: none;
    margin-left: 27px;
}

.fas {
    margin-left: 650px;
    color: white
}

.fas a {
    text-decoration: none;
    color: white;
}

/* Part II */

.Bluebox {
    background-color: #1E93CC;
    display: flex;
}

.Bluebox div {
    width: 33%;
}


.mecget {
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 100px;
    padding-left: 50px;
}

.logoFlou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoFlou img {
    margin-top: -9px;
}

.logoFlou h1 {
    color: white;
    text-align: center;
    margin-top: -9px;
}


.logoFlou button {
    line-height: 2.5;
    padding: 0 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: rgb(233, 144, 2);
    margin-top: -15px;
    border: solid;
    border-color: white;

}

.logoFlou a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}

.logoFlou button:hover {
    background-color: #165882;
}

.logoFlou button:active {
    background-color: rgba(255, 0, 0, 0.603)
}


/* Part III */

.whitebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}

.whitebox p {
    font-size: 20pt;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Part IV */


.blueFont {
    display: flex;
    flex-direction: row;
    background-color: #1E93CC;
}

.art1 {
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.art2 {
    margin-right: 100px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    color: white;
    font-weight: bold;
    margin-bottom: -10px;
}

.textart {
    color: white;

}

/* PART V */
.whitebox1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    color: #71717B;
    font-size: 16pt;
    padding-bottom: 20px;
    font-weight: bold;
}

/* PART VI */

.greybox {
    background-color: #EEEEEE;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.logoProd {
    display: flex;
    justify-content: center;
}

/* PART VII */

.menuboutonfinal {
    background-color: white;
    height: 200px;
}

.BoutonFinal {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.bleu {
    line-height: 3;
    padding: 0 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 35px;
    margin-right: 50px;
    margin-right: 5px;
    padding-right: 40px;
    padding-left: 40px;
    border: none;
    background-color: #165882;
    /* border: solid;
    border-color: #71717B; */
}

.orange {
    line-height: 3;
    padding: 0 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 35px;
    padding-right: 30px;
    padding-left: 30px;
    border: none;
    background-color: #E99002;
    /* border: solid;
    border-color:#71717B; */
}

.BoutonFinal a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

button .bleu {
    background-color: #165882;

}

button.orange {
    background-color: #E99002;
}

button.bleu:hover {
    background-color: #E99002;
    transition-duration: 1s;
}

button.bleu:active {
    background-color: rgba(255, 0, 0, 0.603);
}

button.orange:hover {
    background-color: #165882;
    transition-duration: 1s;
}

button.orange:active {
    background-color: rgba(255, 0, 0, 0.603);
}

/* PART VIII */

footer {
    background-color: #222222;

}

.nav2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.menufinal {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 3px;

}

.menufinal li {
    border-right-style: dotted;
    border-color: white;
    border-width: 1px;
    padding-right: 10px;
    font-size: small;
}

.nobarre li {
    border-right-style: none;
}

.menufinal a {
    text-decoration: none;
    color: white;
    padding-left: 15px;
}

.date {
    color: white;
    padding-left: 900px;
    font-size: small;
}