body{
    font-family: 'Open Sans', sans-serif;
}

.BarNav{
    display:flex;
    background-color: #333333;
    padding-left: 100px;

}

.menuBouton {
    background-color: #333333;
    color: white;
    list-style-type: none;
    display: flex;
    /* justify-content: flex-start; */
  
    
}   